@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
}

body{
    background: #1b1d34;
}

.header h1{
  width: 85px;
  height: auto;
  margin: 10px 0 5px 5px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.header ul{
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

.header ul li{
  display: flex;
  margin: 30px 10px 0 10px;
  align-items: center;
}

.header ul li a{
  display: inline-block;
  position: relative;
}

.header ul li a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s;
}

.header ul li a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}


.container .header1{
    display: flex;
    width: 60vh;
    height: 35vh;
    align-items: flex-end;
    font-size: 55px;
    margin: 0 0 5px 30px;
    color: #E84545;
}

.container .first-p{
    width: 75vh;
    height: auto;
    font-size: 35px;
    margin: 0 0 5px 30px;
    color: #622b36;
    transition: 0.3s;
}

.container .first-p:hover{
  color: #ea113c;
}


.container .second-p{
    font-size: 20px;
    margin: 0 0 5px 30px;
    width: 80vh;
    color: white;
}

.container .btn-start-game{
  margin: 10px 0 0 25px;
  width: 300px;
  height: 30px;
  background: #1b1d34;
  border: 1px solid white;
  border-radius: 15px;
  transition: 0.6s;
}

.container .btn-start-game:hover{
  background: black;
}

.container .btn-start-game a{
  text-decoration: none;
  font-size: 15px;
  color: white;
  transition: .3s;
}

.container .btn-start-game a:hover{
  color: #ea113c;
}

.wrapper{
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  position: absolute;
  right: 70px;
  top: 250px;
}

.wrapper h1{
  color: #E84545;
  margin: 0 0 10px 0;
}

.wrapper h2{
  color: #E84545;
  opacity: 1;
  margin: 0 0 10px 0;
}

.wrapper .progress_line{
  background-color: #E84545;
  bottom: 0;
  color: #fff;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
}

.wrapper .progress_line-bg{
  background: #ccc;
  border-radius: 15px;
  height: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image-container{
  position: absolute;
  right: 100px;
  top: 400px;
}

.image-container .img1{
  width: 700px;
  border: 5px solid black;
}
