@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.header h1{
    width: 85px;
    height: auto;
    margin: 10px 0 5px 5px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}


.header ul{
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.header ul li{
    display: flex;
    margin: 30px 10px 0 10px;
    align-items: center;
}

.header ul li a{
    display: inline-block;
    position: relative;
}

.header ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}

.header ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}


.title h1{
    margin: 40px 0 0px 35px;
}


.container{
    width: 100%;
    height: 93vh;
    display: block;
}

.container .inputField{
    margin: 15px 0 0 35px;
    width: 300px;
    height: 28px;
    font-size: 15px;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
}

.container .addToDo{
    height: 30px;
    width: 40px;
    margin: 15px 0 0 1px;
    vertical-align: middle;
    font-size: 25px;
    border: 1px solid white;
    background: #fff;
    border-radius: 12px;
    color: black;
}

.to-dos{
    margin: 15px 0 5px 0;
}

.paragraph-styling{
    margin: 10px 0 0 35px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}


