@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    outline: none;
}

.title h1{
    margin: 10px 0 0px 25px;
}


.container{
    width: 100%;
    height: 93vh;
    display: block;
}


#inputField{
    margin: 10px 0 0 20px;
    width: 300px;
    height: 28px;
    font-size: 25px;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
}

#addToDo{
    height: 50px;
    width: 40px;
    margin: 10px 0 0 1px;
    vertical-align: middle;
    font-size: 25px;
    border: 1px solid white;
    background: #FF4B2B;
    border-radius: 12px;
}

.to-dos{
    margin: 15px 0 5px 0;
}

.paragraph-styling{
    margin: 20px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}



